body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  max-width: 1200px !important;
  padding: 0 20px !important;
  margin: 0 auto !important;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0;
  font-size: 14px;
}

.btn-primary {
  color: #fff;
  background-color: green;
  border-radius: 5px;
  line-height: 1.5;
  padding: 7px 20px;
}

.input {
  width: 100%;
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 5px;
  box-sizing: border-box;
}

.nav {
  position: sticky;
  top: 0;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.nav ul {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  list-style: none;
}

.nav ul li a {
  display: block;
  padding: 20px 10px;
  text-decoration: none;
  color: #333;
}

.nav ul li a:hover,
.nav ul li a.selected {
  color: #666;
}
